@model IEnumerable<Komsky.Web.Models.UserCreationViewModel>
@{
    ViewBag.Title = "Manage Application Users";
}

<h2>
    @ViewBag.Title
</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Customer
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            Actions
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.Customer==null || String.IsNullOrEmpty(item.Customer.Name))
                {
                    <i>Not assigned</i>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { email = item.Email }) 
            </td>
        </tr>
    }

</table>

